<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello Admin!</title>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
          name="viewport">
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/bootstrap/css/bootstrap.min.css}"
          type="text/css">
    <style>
        .path-button {
            background-color: #7ed26a;
            color: white;
            padding: 6px 20px;
            margin-top: 12px
        }

        .path-button:hover {
            color: white;
            background-color: #49813a;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header" style="text-align: center"><h1>Student Voice</h1></div>
    <div class="row" style="display:flex; justify-content: center">
        <div class="col-lg-8"
             style="display: flex; flex-direction: column; justify-content: center; align-items: center">
            <h1 th:text="'Добро пожаловать, ' + ${username}" style="text-align: center;margin-bottom: 15px"></h1>
            <br/>
            <h2 style="text-align: center;margin-bottom: 15px">Функции администратора</h2>
            <br/>
            <th:block th:each="path: ${adminPaths}">
                <a class="btn path-button" th:href="@{${path.path()}}" th:text="${path.name()}"/>
            </th:block>
            <br/>
            <form th:replace="~{fragments/logout-button}"></form>
        </div>
    </div>
</div>
</body>
</html>